<section>
    <div class="container">
        <h3>Orders</h3>
        <hr>
        {{#each orders}}
        <div class="card mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        Order Id : <span>{{this._id}}</span></div>
                    <div class="col-md-6 float-right">Date: <span>{{this.date}}</span></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {{#each this.products}}
                        <p class="card-text"><img src="/product-images/{{this.item}}.jpg"
                                style="height:50px;width:50px;">{{this.name}}</p>
                        {{/each}}
                    </div>
                    <div class="col-md-4">
                        <h5> Rs.{{this.totalAmount}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h6> Order is {{this.status}}</h6>
                    </div>
                </div>
                <a href="/view-order-products/{{this._id}}" class="btn btn-primary float-right">View more Details</a>
            </div>
        </div>
        {{/each}}
    </div>
</section>


{{!-- <section>
    <div class="container">
        <div class="row mt-5">
            <a href="/" class="btn btn-success ml-auto">Add product</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Amount</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <th scope="row" style="width: 100px">{{this.date}}</th>
                    <td style="width: 150px;">{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pin}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    
                    <td>
                        <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section> --}}